.ratingAddCard {
    width: 200px;
    height: 100px;
    background-color: rgb(53, 53, 53);
    display: flex;
    flex-direction: column;
}

.submitButton {
    background-color: black;
    &:active {
        background-color: white
    }
}

.bannerImage {
    width: 101vw;
    height: 300px;
    position: absolute;
    left: calc(-1 * (100vw - 900px) / 2);
    top: 70px;
    filter: brightness(0.3);
}

.bannerText {
    width: auto;
    position: absolute;
    left: calc(-1 * (100vw - 900px) / 2);
    height: 300px;
    color: white;
    font-size: 3rem;
    z-index: 69;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: 2px 2px 10px black;
    text-wrap: nowrap;
}

.ratingCard {
    width: auto;
    margin-top: 350px;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(44, 44, 44);
    display: flex;
    align-items: center;
    overflow: hidden;
}

.ratingStatsSection {
    flex: 1;
    outline: 2px solid green;
    height: 100%;
    // display: flex;
    // flex-direction: column;
}

.ratingAddSection {
    flex: 1;
    outline: 2px solid red;    
    height: 100%;
}

.totalRatingDisplay {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
    align-items: center;
    color: white;
    font-size: 2rem;
    justify-content: space-evenly;
}
