@use "../../styles/styles" as *;

.cards {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    grid-row-gap: 25px;
    margin-block: 25px;
}

.addMapButton {
    width: 150px;
    height: 3rem;
    background-color: $confirmationColor;
    border-radius: 5px;
    font-size: 1.2rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: filter 0.1s;
    &:hover {
        filter: brightness(0.9);
    }
    &:active {
        filter: brightness(0.7);
    }
}

.pageNavigator {
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    gap: 5px;
    padding-block: 10px;
    user-select: none;
    align-items: center;
    & svg {
        &:hover {
            filter: brightness(0.8);
        }
        &:active {
            filter: brightness(0.3);
        }
        transition: brightness 0.1s;
        cursor: pointer;
        filter: brightness(0) saturate(100%) invert(38%) sepia(94%)
            saturate(631%) hue-rotate(217deg) brightness(83%) contrast(95%);
    }
}
