@use "../../styles/styles" as *;

.cards {
    display: grid;
    place-items: center;
    grid-template-columns: auto auto;
    grid-row-gap: 25px;
    margin-block: 25px;
}

@media (max-width: 1000px) {
    .cards {
        grid-template-columns: auto;
    }
}

@media (min-width: 2000px) {
    .cards {
        grid-template-columns: auto auto auto;
    }
}

.addMapButton {
    width: 150px;
    height: 3rem;
    background-color: $confirmationColor;
    border-radius: 5px;
    font-size: 1.2rem;
    display: grid;
    place-items: center;
    cursor: pointer;
    transition: filter 0.1s;
    &:hover {
        filter: brightness(0.9);
    }
    &:active {
        filter: brightness(0.7);
    }
}

.pageChangerWrapper {
    width: 150px;
    height: 30px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    margin-bottom: 30px;
    overflow: hidden;
}

.pageChangerInput {
    width: 40px;
    border-radius: 10px;
    padding-inline: 10px;
    background-color: rgb(52, 52, 52);
    height: 100%;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    transition: filter 0.3s;
    cursor: pointer;
    text-align: center;
}

.pageNavigator {
    color: lightblue;
    cursor: pointer;
    &:hover {
        filter: brightness(0.9);
    }
    &:active {
        filter: brightness(0.6);
    }
}
