@use "../styles/styles" as *;

.vignette {
    z-index: 100000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2) 0%,
        rgba(0, 0, 0, 0) 5%,
        rgba(0, 0, 0, 0) 95%,
        rgba(0, 0, 0, 0.2) 100%
    );
    pointer-events: none;
}

.background {
    z-index: -100000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(135deg, var(--accent-1), rgb(64, 3, 77));
}

.lander {
    width: 100%;
    display: flex;
    @include flex(column, center, center);
    height: 100vh;
}

.landerTitle {
    text-shadow: 1px 1px 4px lightgray;
    font-size: 9rem;
    user-select: none;
}

.landerButton {
    background-color: rgba(116, 71, 199, 0.1);
    width: 250px;
    height: 50px;
    border: 1px solid var(--accent-9);
    box-shadow: 0px 0px 15px black;
    cursor: pointer;
    color: var(--iris-11);
    transition: color 0.15s;
    &:hover {
        color: var(--iris-12);
    }
}

.calligraphyBG {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-15px);
    filter: invert(0.5);
    z-index: -1;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 30%,
        rgba(255, 255, 255, 1),
        rgba(0, 0, 0, 0) 70%
    );
    opacity: 0;
}
