@use "../styles/styles" as *;

.vignette {
    z-index: -90000;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 1) 0%,
        rgba(0, 0, 0, 0) 5%,
        rgba(0, 0, 0, 0) 95%,
        rgba(0, 0, 0, 1) 100%
    );
    opacity: 0.2;
    pointer-events: none;
}

.lander {
    width: 100%;
    display: flex;
    @include flex(column, center, center);
    height: 100vh;
    transition: opacity 0.3s;
}

.landerTitle {
    text-shadow: 1px 1px 4px lightgray;
    font-size: 9rem;
    user-select: none;
}

.calligraphyBG {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
    transform: translateY(-15px);
    filter: invert(0.5);
    z-index: -1;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0) 30%,
        rgba(255, 255, 255, 1),
        rgba(0, 0, 0, 0) 70%
    );
    opacity: 0;
}
