.mapDoc {
  width: 100%;
  background-color: gray;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 10px;
}

.id {
  width: 40px;
}

.quaver_id {
  width: 80px;
}

.title, .diffName, .creator {
  width: 210px;
}

.category {
  width: 120px;
}

.id, .quaver_id, .title, .diffName, .creator, .category {
  position: relative;
  display: grid;
  place-items: center;
}

.separator {
  width: 1px;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1),rgba(255, 255, 255, 0));
}
