@use '../../styles/styles' as *;

$paddingVertical: 50px;
$titleSize: calc(0.5rem + 1.5vw);

.modal {
  position: fixed;
  left: 15vw;
  top: 20vh;
  width: 70vw;
  height: 60vh;
  border-radius: 3vw;
  padding-inline: 70px;
  padding-block: $paddingVertical;
  background-color: black;
  color: white;
  opacity: 0;
  transition: opacity 0.5s;
  @include flex(column, space-between, center);
  white-space: nowrap;
  z-index: 100000000000000000000000000000000000000000000000000000000;
}

.title {
  height: 6vh;
  font-size: $titleSize;
}

.subtitle {
  font-size: calc($titleSize / 2);
  height: 4vh;
  color: rgb(187, 187, 187);
}

.mapDivWrapper {
  width: 100%;
  height: calc(44vh - $paddingVertical * 2);
  @include flex(column, center);
  position: relative;
}

.mapWrapper {
  width: 100%;
  height: 12vh;
  @include flex(row, '', center);
  border-radius: 20px;
  background: linear-gradient(
    to right,
    rgb(33, 44, 52) 0%,
    rgb(46, 74, 56) 25%,
    rgb(98, 43, 1) 50%,
    rgb(46, 74, 56) 70%,
    rgb(33, 44, 52) 100%
  );
  background-size: 300% auto;
  animation: shine 10s linear infinite;
  outline: 2px solid white;
  text-shadow: 1px 1px 1px black;
}

@keyframes shine {
  to {
    background-position: 300% center;
  }
}

.mapSection {
  padding-inline: 40px;
  height: 12vh;
  width: 100%;
  @include flex(column, center);
}

.buttons {
  height: 10vh;
  width: 100%;
  @include flex(row, flex-end, center);
}

.confirm,
.cancel {
  width: max(7vw, 125px);
  background-color: $denyColor;
  height: 80%;
  border-radius: 20px;
  color: white;
  filter: brightness(0.9);
  transition: filter 0.2s, color 0.2s;
  cursor: pointer;
  &:hover {
    filter: brightness(1.2);
    color: black;
  }
  font-size: 1rem;
}

.confirm {
  background-color: $confirmationColor;
  margin-right: 2vw;
}

.mapTitle {
  font-size: calc($titleSize * 0.85);
}

.mapArtist {
  font-size: calc($titleSize * 0.55);
}

.mapDifficulty {
  font-size: calc($titleSize * 0.6);
}
