@use "../../../../styles/styles" as *;
@use "sass:color";

.card {
    width: 250px;
    @include centered-flex(column);
    height: 100%;
    border-radius: 30px;
    background-color: color.scale($backgroundColor, $lightness: -20%);
    box-shadow: 2px 2px 5px black;
}

.display {
    width: 100%;
    flex: 1;
    @include centered-flex(row);
    color: white;
    font-size: 2.5rem;
    z-index: 1;
    text-shadow: 2px 2px 5px black;
}

.title {
    z-index: 1;
}

.bgRating {
    position: absolute;
    margin: auto;
    z-index: 0;
    font-size: 6.5rem;
    opacity: 0.4;
}

.inputWrapper {
    width: 100%;
    flex: 1;
    @include flex(column, space-evenly, center);
}

.input {
    background-color: color.scale($backgroundColor, $lightness: 15%);
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    width: 150px;
    height: 40px;
}
