@use "../../../styles/styles" as *;
@use "sass:color";

.navBar {
    z-index: 69420;
    position: fixed;
    width: 100%;
    height: 80px;
    padding-block: 5px;
    padding-inline: 3vw;
    top: 0;
    left: 0;
    @include flex(row, center, center);
    transition:
        background-color 0.3s,
        backdrop-filter 0.3s,
        margin-top 0.3s;
}

.home {
    width: calc((94vw - 500px) / 2);
    height: 100%;
    gap: 15px;
    display: flex;
    @include flex(row, flex-start, center);
    cursor: pointer;
    margin: auto;
}

.primaryLinks {
    width: 500px;
    height: 100%;
    gap: 0px;
    @include flex(row, center, center);
    margin: auto;
}

.userData {
    width: calc((94vw - 500px) / 2);
    height: 100%;
    gap: 10px;
    @include flex(row, flex-end, center);
    margin: auto;
}

.login {
    width: max-content;
    color: white;
    font-size: 1.5rem;
    @include centered-flex(row);
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        background-color: white;
        bottom: -5px;
        transition: width 0.3s;
    }
    &:hover:after {
        width: 90%;
    }
}

.link {
    position: relative;
    min-width: 60px;
    width: max-content;
    display: grid;
    place-items: center;
    color: white;
    font-size: 21px;
    margin-inline: 20px;
    transition: filter 0.1s;
    &:after {
        position: absolute;
        content: "";
        width: 0;
        height: 2px;
        background-color: white;
        bottom: -5px;
        transition: width 0.3s;
    }
    &:hover:after {
        width: 80%;
    }
    &:active {
        filter: brightness(0.8);
    }
}
