@use "sass:color";
@use "../../../styles/styles" as *;

$cardWidth: 400px;

.mapCard {
    width: $cardWidth;
    border-radius: 25px;
    height: calc($cardWidth * 0.5);
    background-color: color.scale($backgroundColor, $lightness: -20%);
    box-shadow: 2px 2px 5px black;
    position: relative;
    overflow: hidden;
    @include flex(column, space-between);
}

.cardBG {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    filter: brightness(0.5);
}

.rating {
    z-index: 100000;
    height: 40%;
    width: 100%;
    @include flex(row, flex-end, center);
    padding: 2px;
    margin-block: 5px;
    z-index: 420;
    padding-right: 10px;
}

.mapInfo {
    color: color.adjust(white, $lightness: -10%);
    width: 100%;
    height: 45%;
    @include flex(column, space-evenly);
    font-size: 1.1rem;
    padding: 15px;
    z-index: 69;
    text-shadow:
        2px 2px 10px black,
        2px 2px 2px black;
    white-space: nowrap;
}

.title {
    font-size: 1.7rem;
    color: white;
}

.creator {
    color: color.adjust(white, $lightness: -25%);
    font-size: 0.9rem;
}

.emptyMapText {
    width: 100%;
    height: 100%;
    @include centered-flex(row);
    color: white;
    font-size: 2.4rem;
    font-weight: 700;
}

.labelDiv {
    position: absolute;
    left: 20px;
    bottom: 20px;
    color: black;
    display: grid;
    place-items: center;
    width: 80px;
    height: 25px;
    background-color: rgb(255, 242, 0);
    border-radius: 10px;
    text-shadow: 1px 1px 10px black;
    box-shadow: 0px 0px 2px 2px white;
}
